* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;

    height: 100%;
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-height: fit-content;
    min-height: -moz-fit-content;
    margin: 0;
    padding: 0;
    background: var(--color-background-1);

    font: var(--font-body), Arial, sans-serif;
}

span, p, div {
    color: var(--color-text);
}

a:link {
    color: var(--color-text-link);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: var(--color-text-link);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: var(--color-text-link);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: var(--color-text-link);
    background-color: transparent;
    text-decoration: underline;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--color--scrollbar-background) !important;
}
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color--scrollbar);
}

/*** Common ***/

/* Makes single lines of text clip gracefully to prevent breaking the layout */
/* Intended for both div and p */
.clipsafe {
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Stacks a div on top of another. */
/* Use stackouter for outer div, stackinner for inner div. */
.stackouter {
    position: relative;
}
.stackinner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.button-common {
    display: flex;
    align-items: center;
    justify-content: center;

    border: thin solid var(--color-button-common--border);
    border-radius: 3px;
    cursor: pointer;
}
.button-common:hover {
    border: thin solid var(--color-button-common--border-hover);
}

/*** Application ***/

#app-wrap {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#app-mount {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

#loading-spinner {
    flex: 1 0 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#loading-messages-wrap-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;

    width: 100%;
    height: 100%;
    padding: 30px 0 0 0;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#app-inner-box {
    display: flex;
    flex-direction: column;
}

div.body-outer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px;
}
div.body-inner-box {
    margin: 0 auto 0 auto;
    padding: 0;

    /* min-width: 1250px; */
    width: 1250px;
}

#footer {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*** Main View ***/

#mhr-builder-app-main-view {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;
}

div.main-view-inner-box {
    display: flex;
    flex-direction: row;
    column-gap: 8px;

    min-height: 600px;
}

div.sub-box {
    height: auto;
}

#skills-results-box {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    
    width: 200px;
    background: var(--color-background-2);
    padding: 4px;
}

#equipment-selections-box {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#calculation-results-box {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background-2);
    padding: 6px;
}


