body {
    padding: 40px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#footer {
    text-align: center;
}

div.mhr-builder-app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* border: thin solid lightgrey; */
}

div.main-box {
    display: flex;
    flex-direction: row;

    min-height: 600px;
}

div.sub-box {
    border: thin solid black;
    height: auto;
    margin: 4px;
    padding: 6px;
}

#skillsresultsbox {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

#equipmentselectionsbox {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

#calculationresultsbox {
    width: 100%;
}

/*** Skill Results ***/

div.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: none;
    background: lightgrey;
    height: 40px;
    width: 140px;
    padding: 2px 6px 2px 6px;
}

/*** Equipment Selections ***/

div.equip-box {
    display: flex;
    align-items: flex-start;
    column-gap: 4px;

    border: none;
    background: lightgrey;
    padding: 4px;
}

div.equip-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    border: thin solid black;
    background: darkgrey;
    height: 50px;
    width: 50px;
}

div.equip-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 180px;
}

div.equip-name-box {
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
}

div.equip-skills-wrap-box {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 120px;
}

div.equip-skills-box {
    background: white;
    box-sizing: border-box;
    width: calc(100% - 8px);
    padding: 4px;
    margin: 4px;
    text-align: center;
    font-size: 12px;
}

div.equip-decos-wrap-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 4px;

    height: 100%;
    width: 180px;
}

div.equip-deco-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: white;
    box-sizing: border-box;
    width: calc(100% - 8px);
    padding: 4px;
    margin: 4px;
    text-align: center;
    font-size: 14px;
}

div.equip-deco-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    border: thin solid black;
    background: darkgrey;
    height: 16px;
    width: 16px;
}

div.equip-deco-name-box {
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 0 6px 0 6px;
}

div.equip-defenses-box {
    display: flex;
    align-items: center;
    justify-content: center;

    border: thin solid black;
    height: 100%;
    width: 180px;
}

/*** Utility Box ***/

#util-box {
    display: flex;
    justify-content: flex-end;
}

#settings-button {
    border: thin solid black;
    margin: 4px;
    height: 24px;
    width: 24px;
    text-align: center;
}

