div.select-view-wrap-box {
    display: flex;
    flex-direction: column;

    /* min-width: 1250px; */
    width: 100%;
    /* border: thin solid red; */
    height: 100%;
}
div.select-view-wrap-box > * {
}

.select-view-dropdown {
    background-color: var(--color-select--dropdown-menu);
    color: var(--color-text);
}

/*** Name Filter Text Field ***/

div.select-view-name-filter-box {
    width: 100%;
    padding: 2px 2px 10px 2px;
}
.select-view-name-filter-field {
    width: 100%;
    border: none;
    background: var(--color-select--text-field);
    color: var(--color-text);
    font: 16px Arial, sans-serif;
}

/*** Type Filter Box and Endline Filter Checkbox ***/

div.select-view-type-filter-box {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    padding: 2px 0 4px 0;
}

div.select-view-type-filter-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    background: var(--color-select--icon-button-box);
}
div.select-view-type-filter-icon-box > img {
    height: 90%;
    width: 90%;
}
div.highlight-select-view-type-filter-icon-box:hover { /* Oh lawdy I need better names */
    background: rgba(255, 255, 255, 0.3);
    /* border: thin solid white; */
    cursor: pointer;
}
div.selected-select-view-type-filter-icon-box { /* Oh lawdy I need better names */
    background: var(--color-select--icon-button-box-selected);
}

div.select-view-endline-filter-box {
    flex: 1 0 0;

    display: flex;
    align-items: center;
}
div.select-view-endline-filter-box > label {
    display: flex;
    column-gap: 3px;
}

/*** Selection Table ***/

div.selection-table-wrap-box {
    flex: 1 0 0;
    margin: 8px 0 0 0;
    background: var(--color-select-table--background);
    overflow-y: scroll;
}

.selection-table {
    table-layout: auto;
    width: 100%;
    font-size: 16px;
}

.selection-table-head-row {
    cursor: pointer;
}
.selection-table-head-cell {
    position: sticky;
    top: 0;
    background: var(--color-select-table--head-row);
    font: var(--font-select-table--head-row);
}

.selection-table-body-row {
    background: var(--color-select-table--body-row);
    cursor: pointer;
    height: 26px;
}
.selection-table-body-row-highlighted {
    background: var(--color-select-table--body-row-highlighted);
    cursor: pointer;
}
.selection-table-body-row:hover {
    background: var(--color-select-table--body-row-hover);
}
.selection-table-body-cell {
    font: var(--font-select-table--body-row);
    padding: 0 6px 0 6px;
}

div.selection-table-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 24px;
    width: 100%;
}
div.selection-table-icon-box > img {
    height: 24px;
    width: 24px;
}

.selection-table-cell-justify-left {
    text-align: left;
}
.selection-table-cell-justify-right {
    text-align: right;
}

.selection-table-wrap-box::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--color-select-table--scrollbar-background) !important;
}
.selection-table-wrap-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-select-table--scrollbar);
}

/*** Buffs Selection View ***/

#mhr-builder-app-buffs-select-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
    padding: 12px;
}

div.buff-selection-group-box {
    flex: 1 0 0;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;

    background: var(--color-select--section);
    height: 100%;
    padding: 15px;
}

div.buff-selection-group-heading-box {
    color: var(--color-select-buff--group-heading);
    font: var(--font-select-buff--group-heading);
    padding: 0 0 10px 0;
}

/*** Weapon Selection View ***/

.weapon-selection-table-head-cell-category {
    width: 30px;
}
.weapon-selection-table-head-cell-name {
    width: 220px;
}
.weapon-selection-table-head-cell-numeric {
    width: 65px;
}
.weapon-selection-table-head-cell-elestat {
    width: 150px;
}
.weapon-selection-table-head-cell-deco {
    width: 80px;
}
.weapon-selection-table-head-cell-specialmech {
    width: auto;
}

div.weapon-selection-table-elestat-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
div.weapon-selection-table-elestat-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 3px;
    padding: 0 6px 0 6px;
    width: 50%;
}
div.weapon-selection-table-elestat-text {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*** Weapon Customize View ***/

div.weapon-customize-view-select-box {
    background: var(--color-select--section);
    padding: 5px;
}
div.weapon-customize-view-select-heading-box {
    padding: 2px;
    font-weight: bold;
}
div.weapon-customize-view-select-content-box {
    padding: 2px;
}

/*** Armour Selection View ***/

.armour-selection-table-head-cell-category {
    width: 30px;
}
.armour-selection-table-head-cell-name {
    width: 220px;
}
.armour-selection-table-head-cell-numeric {
    width: 40px;
}
.armour-selection-table-head-cell-deco {
    width: 80px;
}
.armour-selection-table-head-cell-skills {
    width: auto;
}

/*** Talisman Customize View ***/

div.talisman-customize-view-select-box {
    background: var(--color-select--section);
    padding: 5px;
    margin: 0 0 15px 0;
}
div.talisman-customize-view-select-heading-box {
    padding: 2px;
    font-weight: bold;
}
div.talisman-customize-view-select-content-box {
    padding: 2px;
}

/*** Petalace Selection View ***/

.petalace-selection-table-head-cell-category {
    width: 30px;
}
.petalace-selection-table-head-cell-name {
}
.petalace-selection-table-head-cell-numeric {
    width: 70px;
}

/*** Decoration Selection View ***/

.deco-selection-table-head-cell-name {
    width: 280px;
}
.deco-selection-table-head-cell-numeric {
    width: 100px;
}
.deco-selection-table-head-cell-skills {
    width: auto;
}

