#calculation-results-box {
    flex: 1 0 0;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;
}

div.calculation-results-group-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 6px;

    background: var(--color-background-2);
    padding: 6px;
    width: 100%;
}
div.calculation-results-spacer-box {
    flex: 1 0 0;
}

div.calculation-stat-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    background: var(--color-calculated-values--wrap-box);
    font: var(--font-calculated-values--text);
    height: 30px;
    width: 100%;
    padding: 0 10px 0 10px;
}

div.calculation-stat-content-box {
    height: 100%;
}
div.calculation-stat-label-box {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
div.calculation-stat-value-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 6px;
}

div.calculation-stat-icon-box {
    height: 21px;
    width: 21px;
}
div.calculation-stat-icon-box > img {
    height: 100%;
    width: 100%;
}

#calculation-sharpness-bar-box {
    width: 100%;
    background: var(--color-calculated-values--wrap-box);
    font: var(--font-calculated-values--text);
    padding: 6px 6px 6px 6px;
}
div.calculation-sharpness-bar-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    /*
    padding-left: 10px;
    padding-right: 10px;
    */
}
/*
#calculation-sharpness-bar-title-row {
    padding-top: 6px;
    padding-bottom: 6px;
}
*/
#calculation-sharpness-bar-stat-row {
    column-gap: 5px;

    padding-bottom: 2px;
}
#calculation-sharpness-bar-visual-row {
    padding-top: 2px;
}

div.calculation-sharpness-bar-stat {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    border: 2px solid var(--color-sharpness--border);
    border-radius: 3px;
}
#calculation-sharpness-bar-wrap-outer {
    padding: 10px 0 0 0;
}
#calculation-sharpness-bar-wrap {
    border: 2px solid var(--color-sharpness--border);
    border-radius: 3px;
    width: 100%;
    padding: 3px;
}
#calculation-sharpness-bar-wrap > div {
    height: 18px;
}

div.calculation-song-box {
    column-gap: 5px;

    padding: 0 5px 0 5px;
}
div.calculation-song-icon-box {
    width: 38.78px;
    height: 30px;
}
div.calculation-song-icon-box > img {
    width: 100%;
    height: 100%;
}

