div.modal-background {
    display: flex;
    justify-content: center;

    background: var(--color-modal--background);

    visibility: visible;
}

div.modal-foreground {
    display: flex;
    flex-direction: column;

    background: var(--color-modal--foreground);
    margin: 10px 40px 40px 40px;
    padding: 0;
    border: 3px solid var(--color-modal--border);

    /* min-height: 640px; */ /* TODO: Make it so the modal UI can stretch vertically. */
    height: 760px; /* Temporary static height */
    width: 1150px;
}

div.modal-utility-bar {
    display: flex;

    margin: 0;
    padding: 0 0 3px 4px;
    background: var(--color-modal--utility-bar);
    height: 30px;
}

div.modal-utility-bar-title {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    font: var(--font-modal--title);
    padding: 0 0 0 5px;
}

div.modal-utility-bar-close-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 26px;
    width: 26px;
    color: var(--color-text2);
    font-size: 26px;
    font-weight: bold;
    background: var(--color-modal--close-button);
    cursor: pointer;
}
div.modal-utility-bar-close-button > svg {
    fill: var(--color-modal--close-symbol);
    height: 80%;
    width: 80%;
}
div.modal-utility-bar-close-button:hover {
    background: var(--color-modal--close-button-hover);
}
div.modal-utility-bar-close-button:hover > svg {
    fill: var(--color-modal--close-symbol-hover);
}

div.modal-content {
    flex: 1 0 0;
    padding: 15px 15px 15px 15px;

    display: flex;

    width: 100%;
}

