div.equip-buffs-main-box {
    display: flex;
    column-gap: 4px;

    height: 38px;
}

div.equip-buff-img-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-equip-buffs--icon-box);
    height: 30px;
    width: 30px;
}
div.equip-buff-img-icon-box > img {
    height: 100%;
    width: 100%;
}

div.equip-buff-abbrev-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 3px;

    font-size: var(--font-equip--buff-abbrev--size);
    font-weight: var(--font-equip--buff-abbrev--weight);

    background: var(--color-equip-buffs--icon-box);
    height: 30px;
    width: 50px;
}

div.equip-weapon-info-box {
    flex: 1 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 0 2px 0 4px;
}

div.equip-weapon-detail-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 0;
    width: 100%;
    height: 52px;
}

div.equip-weapon-stats-group-box {
    display: flex;
    align-items: flex-start;
    column-gap: 4px;

    padding: 3px;
    height: 28px;
    width: 100%;
}

div.equip-weapon-stat-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 70px;
    padding: 0 4px 0 4px;
    font: var(--font-equip-weapon--stat);
    background: var(--color-equip-weapon--stat-box);
}

div.equip-weapon-ramps-group-box {
    display: flex;
    flex-direction: row;
    column-gap: 5px;

    height: 25px;
    width: 100%;
    padding: 3px;
}

div.equip-weapon-ramp-box {
    flex: 0 0 32%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50px;
    font: var(--font-equip-weapon--ramp);
    background: var(--color-equip-weapon--ramp-box);
}
div.equip-weapon-unused-ramp-box {
    color: lightgrey;
}

div.equip-box {
    display: flex;
    align-items: flex-start;

    border: none;
    background: var(--color-background-2);
}

div.equip-main-box {
    flex: 1 0 0;

    display: flex;
    align-items: flex-start;

    padding: 4px 0 4px 0;
}
div.highlight-equip-main-box:hover {
    border: 2px solid var(--color-equip--icon-box-border-hover);
    cursor: pointer;
}

div.equip-icon-wrap-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;

    height: 100%;
    padding: 4px 0 4px 4px;
}

div.equip-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-equip--icon-box);
    height: 50px;
    width: 50px;
}
div.equip-icon-box > img {
    height: 90%;
    width: 90%;
}

div.equip-remove-button {
    background: var(--color-equip--remove-button);
    height: 100%;
    width: 100%;
    font: var(--font-equip--remove-button);
    color: var(--color-equip--remove-button-text);
}

div.equip-info-box {
    flex: 1 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 0 0 0 4px;
    width: 360px;
}
div.equip-name-box {
    width: 100%;
    padding: 0 4px 0 6px;
    font: var(--font-equip--name);
}
div.equip-info-content-box {
    height: 52px;
    width: 100%;
}
div.equip-skills-wrap-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 5px;
    row-gap: 5px;

    margin: 0;
    padding: 3px 5px 5px 4px;
    font: var(--font-equip--skill-name);
}
div.equip-info-petalace-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.equip-info-petalace-stat-row-box {
    display: flex;
    align-items: flex-start;
    column-gap: 4px;

    padding: 3px;
    height: 28px;
    width: 100%;
}
div.equip-info-petalace-stat-cell-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 140px;
    padding: 0 4px 0 4px;
    background: var(--color-equip-petalace--stat-box);
    font: var(--font-equip-petalace--stat);
}

div.equip-skills-box {
    flex: 0 0 49%; /* what the fuck? TODO: FIGURE OUT WHY 50% DOESN'T WORK. */

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-equip-skills--box);
    padding: 4px;
    height: 49%; /* TODO: Same here, figure out why 50% doesn't work. */
}

div.equip-defenses-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;

    border: none;
    height: 100%;
    width: 110px;
    padding: 4px 0 4px 0;
}

div.equip-defenses-row-box {
    flex: 1 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4px;

    border: none;
    width: 100%;
}

div.equip-defenses-cell-box {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    background: var(--color-equip-defenses--box);
    font: var(--font-equip--defense);
}

div.equip-defenses-icon-box-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 23px;
}
div.equip-defenses-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 18px;
    width: 18px;
}
div.equip-defenses-icon-box > img {
    width: 100%;
    height: 100%;
}

div.equip-defenses-content-box {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

div.equip-decos-wrap-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 2px;

    padding: 2px 2px 2px 6px;
    height: 100%;
    width: 190px;
}

div.equip-deco-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: var(--color-equip-deco--box);
    width: 100%;
    padding: 0 0 0 4px;
    margin: 0;
    text-align: center;
    font: var(--font-equip--deco);
    height: 23px;
}
div.highlight-equip-deco-box:hover {
    border: 2px solid var(--color-equip--icon-box-border-hover);
    cursor: pointer;
}

div.equip-deco-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 23px;
    width: 23px;
}
div.equip-deco-icon-box > img {
    width: 100%;
    height: 100%;
}

div.equip-deco-name-box {
    text-align: left;
    width: 100%;
    padding: 0 6px 0 6px;
}

#misc-selections-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}

