div.equip-buffs-main-box {
    display: flex;
    column-gap: 4px;

    height: 30px;
}

div.equip-buff-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    background: black;
    height: 30px;
    width: 30px;
}
div.equip-buff-icon-box > img {
    height: 90%;
    width: 90%;
}

div.equip-weapon-info-box {
    flex: 1 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    box-sizing: border-box;
    padding: 0 2px 0 4px;
}

div.equip-weapon-detail-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 52px;
}

div.equip-weapon-stats-group-box {
    display: flex;
    align-items: flex-start;
    column-gap: 4px;

    box-sizing: border-box;
    padding: 3px;
    height: 28px;
    width: 100%;
}

div.equip-weapon-stat-box {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 100%;
    width: 70px;
    padding: 0 4px 0 4px;
    font-size: 14px;
    background: darkgrey;
}

div.equip-weapon-ramps-group-box {
    display: flex;
    flex-direction: row;
    column-gap: 5px;

    box-sizing: border-box;
    height: 25px;
    width: 100%;
    padding: 3px;
}

div.equip-weapon-ramp-box {
    flex: 0 0 32%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 100%;
    width: 50px;
    font-size: 14px;
    background: white;
}
div.equip-weapon-unused-ramp-box {
    color: lightgrey;
}

div.equip-box {
    display: flex;
    align-items: flex-start;

    border: none;
    background: lightgrey;
}

div.equip-main-box {
    flex: 1 0 0;

    display: flex;
    align-items: flex-start;

    padding: 4px;
}
div.highlight-equip-main-box:hover {
    background: rgba(0, 0, 0, 0.5);;
    /* border: thin solid white; */
    cursor: pointer;
}

div.equip-icon-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    border: thin solid black;
    background: black;
    height: 50px;
    width: 50px;
}
div.equip-icon-box > img {
    height: 90%;
    width: 90%;
}

div.equip-info-box {
    flex: 1 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 0 2px 0 4px;
    width: 320px;
}
div.equip-name-box {
    box-sizing: border-box;
    width: 100%;
    padding: 0 4px 0 6px;
}
div.equip-info-content-box {
    height: 52px;
    width: 100%;
}
div.equip-skills-wrap-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 5px;
    row-gap: 5px;

    box-sizing: border-box;
    margin: 0;
    padding: 3px 5px 5px 4px;
}
div.equip-info-petalace-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.equip-info-petalace-stat-row-box {
    display: flex;
    align-items: flex-start;
    column-gap: 4px;

    box-sizing: border-box;
    padding: 3px;
    height: 28px;
    width: 100%;
}
div.equip-info-petalace-stat-cell-box {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 100%;
    width: 140px;
    padding: 0 4px 0 4px;
    font-size: 14px;
    background: darkgrey;
}

div.equip-skills-box {
    flex: 0 0 49%; /* what the fuck? TODO: FIGURE OUT WHY 50% DOESN'T WORK. */

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    background: white;
    padding: 4px;
    font-size: 14px;
    height: 49%; /* TODO: Same here, figure out why 50% doesn't work. */
}

div.equip-defenses-wrap-box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    border: none;
    /*border-right: 2px solid darkgrey;*/
    /*border: thin solid black;*/
    height: 100%;
    width: 90px;
    font-size: 13px;
}

div.equip-defenses-wrap-box > table {
    /*border: thin solid black;*/
    border-collapse: collapse;
}

div.equip-decos-wrap-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2px;

    box-sizing: border-box;
    padding: 2px 2px 2px 6px;
    height: 100%;
    width: 190px;
}

div.equip-deco-box {
    flex: 0 0 30%;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    background: white;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 4px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    height: 23px;
}
div.highlight-equip-deco-box:hover {
    background: black;
    opacity: 0.5;
    cursor: pointer;
}

div.equip-deco-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 23px;
    width: 23px;
}
div.equip-deco-icon-box > img {
    width: 100%;
    height: 100%;
}

div.equip-deco-name-box {
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 0 6px 0 6px;
}

#misc-selections-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}

