div.skill-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: none;
    background: var(--color-calculated-skills--wrap-box);
    font: var(--font-calculated-skills--misc);
    height: 34px;
    width: 100%;
    padding: 2px 6px 2px 6px;
}

div.skill-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-calculated-skills--icon-box);
    height: 25px;
    width: 25px;
}
div.skill-icon-box > img {
    height: 100%;
    width: 100%;
}

div.skill-detail-box {
    flex: 1 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 4px 0 4px;
}

.skill-name {
    font: var(--font-calculated-skills--name);
}
.skill-detail {
    font: var(--font-calculated-skills--detail);
}

