#util-box {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 4px 0;
}

#settings-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 28px;
    width: 28px;
    text-align: center;
    background: lightgrey;
}

