div.modal-background {
    display: flex;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);;

    visibility: visible;
}

div.modal-foreground {
    display: flex;
    flex-direction: column;

    background: white;
    margin: 10px 40px 40px 40px;
    padding: 0;
    border: medium solid black;

    /* min-height: 640px; */ /* TODO: Make it so the modal UI can stretch vertically. */
    height: 720px; /* Temporary static height */
}

div.modal-utility-bar {
    display: flex;

    margin: 0;
    padding: 4px;
    background: lightgrey;
}

div.modal-utility-bar-title {
    flex: 1 0 0;

    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 0 5px;
}

div.modal-utility-bar-close-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 28px;
    min-width: 28px;
    border: medium solid black;
    box-sizing: border-box;
    font-color: white;
    font-size: 26px;
    font-weight: bold;
    background: rgb(255,129,123);
    cursor: pointer;
}
div.modal-utility-bar-close-button:hover {
    background: rgb(255,57,46);
}

div.modal-content {
    flex: 1 0 0;
    padding: 8px 15px 15px 15px;
    box-sizing: border-box;

    display: flex;

    width: 100%;
}

