div.select-view-wrap-box {
    display: flex;
    flex-direction: column;

    /* min-width: 1250px; */
    width: 100%;
    /* border: thin solid red; */
    box-sizing: border-box;
    height: 100%;
}
div.select-view-wrap-box > * {
}


/*** Name Filter Text Field ***/

div.select-view-name-filter-box {
    width: 100%;
    padding: 2px 2px 10px 2px;
    box-sizing: border-box;
}
.select-view-name-filter-field {
    width: 100%;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/*** Type Filter Box and Endline Filter Checkbox ***/

div.select-view-type-filter-box {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    padding: 2px 0 4px 0;
}

div.select-view-type-filter-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    background: lightgray;
}
div.select-view-type-filter-icon-box > img {
    height: 90%;
    width: 90%;
}
div.highlight-select-view-type-filter-icon-box:hover { /* Oh lawdy I need better names */
    background: rgba(0, 0, 0, 0.5);
    /* border: thin solid white; */
    cursor: pointer;
}
div.selected-select-view-type-filter-icon-box { /* Oh lawdy I need better names */
    border: thick solid rgba(255, 0, 0, 0.5);
}

div.select-view-endline-filter-box {
    flex: 1 0 0;

    display: flex;
    align-items: center;
}
div.select-view-endline-filter-box > label {
    display: flex;
    column-gap: 3px;
}

/*** Selection Table ***/

div.selection-table-wrap-box {
    flex: 1 0 0;
    border: thin solid black;
    margin: 8px 0 0 0;
    background: darkgrey;
    overflow-y: scroll;
}

.selection-table {
    table-layout: auto;
    width: 100%;
    font-size: 16px;
}

.selection-table-head-row {
    cursor: pointer;
}
.selection-table-head-cell {
    position: sticky;
    top: 0;
    background: darkgrey;
    border: thin solid black;
}

.selection-table-body-row {
    background: white;
    cursor: pointer;
}
.selection-table-body-row:hover {
    background: lightgrey;
}
.selection-table-body-cell {
    border: thin solid black;
}
.selection-table-body-cell-category {
    width: 150px;
}
.selection-table-body-cell-name {
    width: 280px;
}
.selection-table-body-cell-numeric {
    width: 60px;
}
.selection-table-body-cell-deco {
    width: 80px;
}
.selection-table-body-cell-specialmech {
    width: auto;
}

/*** Weapon Customize View ***/

div.weapon-customize-view-select-box {
    background: lightgrey;
    padding: 5px;
}
div.weapon-customize-view-select-heading-box {
    padding: 2px;
    font-weight: bold;
}
div.weapon-customize-view-select-content-box {
    padding: 2px;
}

#weapon-customize-view-ramp-select-box {

}

