:root {

    /*** Fonts ***/

    --font-scheme--family1: "Arial";
    --font-scheme--family2: "Arial";
    --font-scheme--family3: "Arial";

    /****/

    --font-body: normal normal 16px var(--font-scheme--family1);

    --font-modal--title: bold normal 18px var(--font-scheme--family3);

    --font-calculated-skills--misc:   normal normal 12px var(--font-scheme--family2);
    --font-calculated-skills--name:   bold   normal 14px var(--font-scheme--family2);
    --font-calculated-skills--detail: normal normal 14px var(--font-scheme--family2);

    --font-equip--name:          bold   normal 18px var(--font-scheme--family3);
    --font-equip--skill-name:    normal normal 14px var(--font-scheme--family2);
    --font-equip--defense:       bold   normal 15px var(--font-scheme--family2);
    --font-equip--deco:          normal normal 14px var(--font-scheme--family2);
    --font-equip--remove-button: bold   normal 12px var(--font-scheme--family2);
    --font-equip-weapon--stat:   bold   normal 15px var(--font-scheme--family2);
    --font-equip-weapon--ramp:   normal normal 14px var(--font-scheme--family2);
    --font-equip-petalace--stat: normal normal 14px var(--font-scheme--family2);

    --font-calculated-values--text: bold   normal 14px var(--font-scheme--family2);

    --font-select-buff--group-heading: bold   normal 18px var(--font-scheme--family2);
    --font-select-table--head-row:     bold   normal 16px var(--font-scheme--family2);
    --font-select-table--body-row:     normal normal 16px var(--font-scheme--family2);

    /* These are special in that we specify only individual properties */
    --font-equip--buff-abbrev--size: 16px;
    --font-equip--buff-abbrev--weight: bold;

    /*** Colours ***/

    --color-scheme--dark0: #141517;
    --color-scheme--dark1: #191a1d;
    --color-scheme--dark2: #202225;
    --color-scheme--dark3: #2f3136;
    --color-scheme--dark4: #32353b;
    --color-scheme--dark5: #36393f;
    --color-scheme--dark6: #40444b;
    --color-scheme--dark7: #4f545c;

    --color-scheme--bright0: #ffffff;
    --color-scheme--bright1: #dcddde;
    --color-scheme--bright2: #b9bbbe;
    --color-scheme--bright3: #8e9297;
    --color-scheme--bright4: #72767d;

    --color-scheme--red-dim: #7b3333;
    --color-scheme--red-inactive: #a02929;
    --color-scheme--red-active: #cc1111;

    /****/

    --color-text: var(--color-scheme--bright2);
    --color-text-hover: var(--color-scheme--bright1);
    --color-text2: var(--color-scheme--dark1);
    --color-text-link: #00b0f4;

    --color-background-1: var(--color-scheme--dark1);
    --color-background-2: var(--color-scheme--dark2);
    /* NOTE: If we change --color-background-1 here, we must also change the build card background manually. */

    --color--scrollbar-background: var(--color-scheme--dark1);
    --color--scrollbar: var(--color-scheme--dark3);

    --color-utility-bar: var(--color-scheme--dark3);
    --color-utility-button--background: var(--color-scheme--dark1);
    --color-utility-button--icon: var(--color-scheme--bright2);
    --color-button-common--border: var(--color-scheme--bright4);
    --color-button-common--border-hover: var(--color-scheme--bright1);

    --color-modal--background: rgba(0, 0, 0, 0.4);
    --color-modal--foreground: var(--color-scheme--dark1);
    --color-modal--border: var(--color-scheme--dark3);
    --color-modal--utility-bar: var(--color-scheme--dark3);
    --color-modal--close-button: var(--color-scheme--red-inactive);
    --color-modal--close-button-hover: var(--color-scheme--red-active);
    --color-modal--close-symbol: var(--color-scheme--dark1);
    --color-modal--close-symbol-hover: var(--color-scheme--dark4);

    /****/

    --color-calculated-skills--wrap-box: var(--color-scheme--dark3);
    --color-calculated-skills--icon-box: var(--color-scheme--dark3);
    --color-calculated-skills--pip-outer: var(--color-scheme--dark7);
    --color-calculated-skills--pip-inner: #3da7fc; /* from the game */
    --color-calculated-skills--overlevelled-text: #ff5858;

    --color-equip--icon-box: var(--color-scheme--dark0);
    --color-equip--icon-box-hover: var(--color-scheme--dark7);
    --color-equip--icon-box-border-hover: var(--color-scheme--bright4);
    --color-equip--remove-button: var(--color-scheme--red-dim);
    --color-equip--remove-button-text: var(--color-scheme--bright1);
    --color-equip--remove-button-text-hover: white;
    --color-equip-buffs--icon-box: var(--color-scheme--dark0);
    --color-equip-buffs--box-hover: var(--color-scheme--dark6);
    --color-equip-weapon--stat-box: var(--color-scheme--dark4);
    --color-equip-weapon--ramp-box: var(--color-scheme--dark4);
    --color-equip-weapon--ramp-text: var(--color-scheme--bright2);
    --color-equip-weapon--ramp-unused-text: var(--color-scheme--bright2); /* Find a more comfortable colour? */
    --color-equip-petalace--stat-box: var(--color-scheme--dark3);
    --color-equip-defenses--box: var(--color-scheme--dark5);
    --color-equip-skills--box: var(--color-scheme--dark4);
    --color-equip-deco--box: var(--color-scheme--dark3);
    --color-equip-deco--box-hover: var(--color-scheme--dark6);

    --color-calculated-values--wrap-box: var(--color-scheme--dark3);

    --color-select--text-field: var(--color-scheme--dark3);
    --color-select--icon-button-box: var(--color-scheme--dark3);
    --color-select--icon-button-box-selected: var(--color-scheme--red-dim);
    --color-select--section: var(--color-scheme--dark3);
    --color-select--dropdown-menu: var(--color-scheme--dark3);

    --color-select-table--background: var(--color-scheme--dark2);
    --color-select-table--head-row: var(--color-scheme--dark2);
    --color-select-table--body-row: var(--color-scheme--dark1);
    --color-select-table--body-row-hover: var(--color-scheme--dark2);
    --color-select-table--body-row-highlighted: #3b5b3f;
    --color-select-table--scrollbar-background: var(--color-scheme--dark1);
    --color-select-table--scrollbar: var(--color-scheme--bright2);

    --color-select-buff--group-heading: var(--color-scheme--bright2);

    --color-sharpness--red:    #c50f3a;
    --color-sharpness--orange: #e85218;
    --color-sharpness--yellow: #f3c832;
    --color-sharpness--green:  #5ed300;
    --color-sharpness--blue:   #3068ee;
    --color-sharpness--white:  var(--color-scheme--bright2);
    --color-sharpness--border: var(--color-scheme--dark7);
}

